.logo {
    margin: 0 4.3rem 1rem ;
}

.compaines {
    display: flex;
    flex-direction: row;
    margin: 3rem 0 7rem;
    align-items: center;
    justify-content: space-between;
}


.compaines li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.last {
    margin-bottom: 0;
}

.logo-text {
    font-weight: 500;
    font-size: 1.6rem;
}

.chevron {
    width: 25px;
    height: 25px;
    font-size: 40px;
    color: #938C8C;
    font-weight: bolder;
}

