<div class="card">
  <div class="card__head">
    <span class="logo">
      <img src="./assets/instagram.svg" alt="instagram" />
      <span>Instagram</span>
    </span>
    <span class="followers">15K Viewers</span>
  </div>
  <p class="card__title">Graphic Designer</p>
  <p class="card__property">
    <span>job roles :</span> <span>Social Media</span>
  </p>
  <p class="card__property">
    <span>job location :</span> <span>remotely</span>
  </p>
  <p class="card__property"><span>job types :</span> <span>full time</span></p>
  <p class="card__property"><span>Experience :</span> <span>4 years</span></p>
  <p class="card__property">
    <span>Salary :</span> <span>1500000 SP - 3000000 SP</span>
  </p>

  <div class="card__status">
    <span class="status"
      ><span class="green-circle"></span> <span>Actice</span></span
    >
    <span class="datetime">
      <span class="time">02:30 pm</span>
      <span>2022-08-23</span>
    </span>
  </div>
  <button class="btn btn-primary btn-card">More information</button>
</div>
