<footer>
  <ul class="footer-menu">
    <li>
      <span class="title">job</span>
      <ul class="details">
        <li><a href="#">search employees</a></li>
        <li><a href="#">search jobs</a></li>
      </ul>
    </li>
    <li>
      <span class="title">freelance</span>
      <ul class="details">
        <li><a href="#">search freelancers</a></li>
        <li><a href="#">search services</a></li>
      </ul>
    </li>
    <li>
      <span class="title">blog</span>
      <ul class="details">
        <li><a href="#">search blogs</a></li>
        <li><a href="#">add blog</a></li>
      </ul>
    </li>
    <li>
      <span class="title">internship</span>
      <ul class="details">
        <li><a href="#">registeration</a></li>
        <li><a href="#">search</a></li>
      </ul>
    </li>
    <li>
      <span class="title">keep in touch</span>
      <ul class="details">
        <li><a href="#">focal-x@focalapp.com</a></li>
        <li>+963 994 975 318</li>
      </ul>
    </li>
  </ul>

  <div class="end">
    &copy; 2021 - 2022 focal X a gency All Right Reserved
    <span class="line"></span>
  </div>
</footer>
