<nav>
  <img src="assets/logo.svg" class="logo" alt="" />
  <ul class="d-flex" id="menu">
    <li class="menu-item">
      <span>home</span>
      <!-- <span>
        <i class="fa-solid fa-chevron-down down"></i>
      </span> -->
    </li>

    <li class="menu-item">
      <span>job</span>
      <span>
        <i class="fa-solid fa-chevron-down down"></i>
      </span>
    </li>

    <li class="menu-item">
      <span>freelance</span>
      <span>
        <i class="fa-solid fa-chevron-down down"></i>
      </span>
    </li>

    <li class="menu-item">
      <span>blog</span>
      <span>
        <i class="fa-solid fa-chevron-down down"></i>
      </span>
    </li>

    <li class="menu-item">
      <span>internship</span>
      <span>
        <i class="fa-solid fa-chevron-down down"></i>
      </span>
    </li>

    <li class="menu-item">
      <span>ads</span>
      <span>
        <i class="fa-solid fa-chevron-down down"></i>
      </span>
    </li>

    <li class="menu-item"><span>hire us</span></li>
  </ul>

  <div class="d-flex choices">
    <div class="login">login</div>
    <div class="register">register</div>

    <div class="languages">
      <span>AR</span><span class="selected">|</span>
      <span class="selected">EN</span>
    </div>
  </div>
</nav>
